name: Preprocessing Dataset

on:
  push:
    branches: [ main ]

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install pandas scikit-learn matplotlib seaborn

    - name: Run preprocessing script
      run: |
        python preprocessing/automate_NurRahmawati.py

    - name: Upload processed dataset
      uses: actions/upload-artifact@v4
      with:
        name: processed-dataset
        path: preprocessing/houseprices_preprocessing 

    - name: Commit and Push Preprocessed Data
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add . 
        git commit -m "Update preprocessed data [skip ci]" || echo "No changes to commit"
        git push