name: Preprocessing Dataset

on:
  push:
    branches: [ main ]

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install pandas scikit-learn

    - name: Run preprocessing script
      run: |
        python preprocessing/houseprices_preprocessing/automate_NurRahmawati.py

    - name: Upload processed dataset
      uses: actions/upload-artifact@v4
      with:
        name: processed-dataset
        path: preprocessing/houseprices_preprocessing